@inject IHttpContextAccessor contxt

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @contxt.HttpContext.Session.GetString("Nombre")@contxt.HttpContext.Session.GetString("Apellido")</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
