@model Usuarios


<h2>Crear Usuario</h2>

<form asp-action="Crear" method="post">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control"/>
        <span asp-validation-for="Nombre"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Apellido" class="form-label">Apellidos</label>
        <input asp-for="Apellido" class="form-control"/>
        <span asp-validation-for="Apellido"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Contrasena" class="form-label">Contraseña</label>
        <input asp-for="Contrasena" class="form-control" />
        <span asp-validation-for="Contrasena" ></span>
    </div>
    <div class="mb-3">
        <label asp-for="rol" class="form-label">Rol</label>
        <select name="rol" id="rol" class="form-select">
            <option value="1">Cliente</option>
            <option value="2">Administrado</option>
            <option value="3">Super Administrador</option>
            <option value="4">Empleado</option>
        </select>
    </div>

    <div>
        <input type="submit" value="Crear"/>
        
    </div>

</form>
<a asp-action="Index"><button type="submit" class="btn btn-outline-primary">Volver al Index</button></a>